<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Teilnehmer </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" *ngFor="let person of persons">
    <app-turnier-person-card [person]="person">
    </app-turnier-person-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createTurnier()" [disabled]="!competitorsCountValid()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>