<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Personen </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" *ngFor="let person of (store.getState$() | async).persons">
    <app-person-card [person]="person"></app-person-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPerson()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>