<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> tournament </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-position">
    <ion-row justify-content-center align-items-center class="grid-row-position">
      <form [formGroup]="tournamentCreateForm">
        <ion-card>
          <ion-card-header>
            <ion-card-title>tournament erstellen</ion-card-title>
            <ion-card-subtitle>Bitte einen Namen geben</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input required type="text" formControlName="name"
                         placeholder="Turnier Name"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </form>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setTournamentName()" [disabled]="!tournamentCreateForm.valid">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>