<ion-card>

  <ion-card-header>
    <ion-card-title>Bearbeiten Bild</ion-card-title>
  </ion-card-header>

  <form [formGroup]="personEidtForm">
    <ion-grid>

      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              Vorname:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-input [(ngModel)]="person.firstName" formControlName="firstName" class="form-control" placeholder="Vorname eingeben"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              Nachname:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-input [(ngModel)]="person.lastName" formControlName="lastName" class="form-control" placeholder="Nachname eingeben"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              Tuniere:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              {{ person.turnierParticipations }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              Spiele:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              {{ person.games }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              Gewonnen:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              {{ person.wins }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              Verloren:
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>
              {{ person.looses }}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="savePersonIntegration()" [disabled]="!personEidtForm.valid">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>