<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Optionen </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Bearbeiten Bild</ion-card-title>
    </ion-card-header>

    <form [formGroup]="personEidtForm">
      <ion-grid>

        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                Vorname:
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-input formControlName="firstName" placeholder="Vorname eingeben" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                Nachname:
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-input formControlName="lastName" placeholder="Nachname eingeben"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                Tuniere:
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                {{ personStatistic.turnierParticipations }}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                Spiele:
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                {{ personStatistic.games }}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                Gewonnen:
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                {{ personStatistic.wins }}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                Verloren:
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>
                {{ personStatistic.looses }}
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="savePersonIntegration()" [disabled]="!personEidtForm.valid">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>