<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Optionen </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="width:100%">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          Tische
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            Anzahl der Tische:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-select [(ngModel)]="selectedTableOption">
            <ion-select-option *ngFor="let option of tableOptions" [(value)]="option">
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          Sätze
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            Spielsätze:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-select [(ngModel)]="selectedSetOption">
            <ion-select-option *ngFor="let option of setOptions" [(value)]="option">
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          Punkte
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            Punkte pro Sieg:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-select [(ngModel)]="selectedPointOption">
            <ion-select-option *ngFor="let option of pointOptions" [(value)]="option">
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            Unentschieden:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-checkbox [(ngModel)]="draw"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            Punkte pro Unentschieden:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-select [(ngModel)]="selectedTiedPointOption" [disabled]="!tied">
            <ion-select-option *ngFor="let option of tiedPointOptions" [value]="option">
              {{ option.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          Freilos
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            Freilos:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-checkbox [(ngModel)]="walkover"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          Losverfahren
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            Fair losen:
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-checkbox [(ngModel)]="fairLots"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createOptions()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>